{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block content %}
<!--kolommen voor content-->
<div id="wrap">
<div class="container" id="main"> 
  <div class="row"> 
  <div class="col-md-2"></div>
    <!--login-->
    <div class="col-md-4">
      <div class="container">
        <div class="row">
          <div class="main">
            <h3>Send password reset instructions</h3>



            <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
  {{ forgot_password_form.hidden_tag() }}
  <div class="form-group">
              <label for="inputEmail">Email</label>
              {{forgot_password_form.email( class="form-control", placeholder="Email")}}
                {% for error in forgot_password_form.errors.email %}
                    <span style="color: red;" class="help-inline">{{error}}</span><br>
                {% endfor %}<br>
              <p class="help-block">Please provide your Email</p>
            </div>
    <button type="submit" class="btn btn btn-primary"> Recover Password </button>
</form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
</div>
{% endblock %}