<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "Activiteiten" %}
{% from 'macros.html' import event_block_right, event_block_left %}
{% block css %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'vendor/timeline/timeline.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block body %}
<div class="container">
    <div class="page-header text-center">
        <h1 id="timeline">Komende activiteiten</h1>
    </div>
     <ul class="timeline">
        {% for event in events %}
            {%  if loop.index is divisibleby(2) %}
                {{event_block_right(event)}}
            {% else %}
                
{{event_block_left(event)}}
            {% endif %}
        {% endfor %}
        
        
        <li class="clearfix" style="float: none;"></li>
    </ul>
</div>
{% endblock %}
{% block footscript %}
    <link href="{{ url_for('static', filename = 'vendor/timeline/timeline.js') }}" rel="stylesheet" media="screen">
{% endblock %}