<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "Activiteiten" %}
{% block body %}



<div class="container">
        
        

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8"> 
            <h2>{{event.title}}</h2>
        </div>
    </div>
          <div class="row">
              <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src={{event.image}} />
        </div>
        <div class="col-md-8"> 
            {{event.description}}
             <br><i class="glyphicon glyphicon-calendar"> {{event.begin.strftime('%d/%m/%y van %H:%M')}} tot {{event.end.strftime('%H:%M')}}</i>
             <br><i class="glyphicon glyphicon-map-marker"> {{event.location}}</i>
             <br><i class="glyphicon glyphicon-euro"> {{event.price}}</i>
        </div>
    </div>
            
            <div>
                
<hr>
<a href={{url_for('activiteiten')}}>meer activiteiten...</a>




            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <br>
            <a href={{url_for('activiteiten')}} ><h3>Volgende activiteiten:</h3></a> 
            <ul style="list-style: none;">
            {% for event in events %}
                <li> <a href={{url_for('activiteiten')}}#activiteit{{event.id}} rel="tooltip" title="over {{momentjs(event.begin).DaysUntil()}} dagen" >{{event.title}}</a> <br><i class="glyphicon glyphicon-calendar" rel="tooltip" title="over {{momentjs(event.begin).DaysUntil()}} dagen"> {{event.begin.strftime('%d/%m/%y %H:%M')}}</i></li>
            {% endfor %}
            </ul>         
         </div>

        </div><!--/span-->
      </div><!--/row-->


    </div><!--/.container-->
{% endblock %}
