<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "Bestuur" %}
{% block css %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'vendor/bootstrap-glyphicons-all/glyphicons-free.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename = 'css/boardmember.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block footscript %}
    {{ super() }}
    <script src="{{ url_for('static', filename = 'vendor/scramble/scramble.js') }}"></script>
    <script>
        $(document).ready(function() {
            {% for bestuurslid in bestuursleden %}
                {%if bestuurslid.email!=""%}
                    emailScramble{{bestuurslid.id}} = new scrambledString(document.getElementById('email{{bestuurslid.id}}'), 'emailScramble{{bestuurslid.id}}', '{{bestuurslid.getscrambledmail()}}', {{bestuurslid.getscrambledorder()}});
                    emailScramble{{bestuurslid.id}}.initAnimatedBubbleSort()
                {% endif %}
            {% endfor %}
        });
    </script>
{% endblock %}

{% macro bestuurslid_block(bestuurslid) %}
<div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well well-sm">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <img src="{{bestuurslid.image}}" alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-sm-6 col-md-8">
        		<blockquote>
            		<p>{{bestuurslid.name}}</p> <small> {{bestuurslid.function}}</cite></small>
        		</blockquote>
        		{%if bestuurslid.email!=""%}<i class="glyphicon glyphicon-envelope"></i><span id="email{{bestuurslid.id}}" ></span>{% endif %} 
        		{%if bestuurslid.facebook!=""%}<br/><a href={{bestuurslid.fblink()}} target="_blank"> <i class='glyphicon-facebook'></i> &nbsp;&nbsp;&nbsp;{{bestuurslid.facebook}}</a>{% endif %} 
        		{%if bestuurslid.cellphone!=""%}<br/> <i class="glyphicon glyphicon-earphone"></i> {{bestuurslid.cellphone}}{% endif %}  
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% block body %}
<div class="container">
<br><br>
<div class="row">
       {% for bestuurslid in bestuursleden %}
            {{bestuurslid_block(bestuurslid)}}
       {% endfor %}
</div>
</div>
{% endblock %}
