<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "Bestuur" %}
{% block css %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'vendor/bootstrap-glyphicons-all/glyphicons-free.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% macro bestuurslid_block(bestuurslid) %}
<div class="col-sm-2 col-md-2">
    <img src={{bestuurslid.image}}
    alt="" class="img-rounded img-responsive" />
</div>
<div class="col-sm-4 col-md-4">
    <blockquote>
        <p>{{bestuurslid.name}}</p> <small> {{bestuurslid.function}}</cite></small>
    </blockquote>
    {%if bestuurslid.email!=""%}
    <a href="mailto:{{bestuurslid.email}}"><p> <i class="glyphicon glyphicon-envelope"></i> {{bestuurslid.email}}</a>
    {% endif %}<br/>
    {%if bestuurslid.facebook!=""%}
    <em class='glyphicon-facebook'></em> <a href={{bestuurslid.fblink()}} target="_blank">{{bestuurslid.facebook}}</a>
    {% endif %}<br/>
    {%if bestuurslid.cellphone!=""%}
    <i class="glyphicon glyphicon-earphone"></i> {{bestuurslid.cellphone}}{% endif %}<br><br><br><br><br><br>       
</div>
{% endmacro %}

{% block body %}
<div class="container">
<br>
<div class="row">
       {% for bestuurslid in bestuursleden %}
            {{bestuurslid_block(bestuurslid)}}
       {% endfor %}
</div>
</div>
{% endblock %}
