<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "Bestuur" %}
{% block css %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'vendor/bootstrap-glyphicons-all/glyphicons-free.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block body %}
<div class="container">
<br>
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <img src="https://pbs.twimg.com/profile_images/417429456752365568/inR0DyNU.jpeg"
            alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Matthias Feys</p> <small> webmaster</cite></small><small> functie2</cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> matthiasfeys@gmail.com          
            <br/> <em class='glyphicon-facebook'></em> matthias.feys
            <br/> <i class="glyphicon glyphicon-earphone"></i> 0498 /11 83 09          
    </div>
       <div class="col-sm-2 col-md-2">
            <img src="https://pbs.twimg.com/profile_images/417429456752365568/inR0DyNU.jpeg"
            alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Matthias Feys</p> <small> webmaster</cite></small><small> functie2</cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> matthiasfeys@gmail.com          
            <br/> <em class='glyphicon-facebook'></em> matthias.feys
            <br/> <i class="glyphicon glyphicon-earphone"></i> 0498 /11 83 09          
    </div>
    <div class="col-sm-2 col-md-2">
            <img src="https://pbs.twimg.com/profile_images/417429456752365568/inR0DyNU.jpeg"
            alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Matthias Feys</p> <small> webmaster</cite></small><small> functie2</cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> matthiasfeys@gmail.com          
            <br/> <em class='glyphicon-facebook'></em> matthias.feys
            <br/> <i class="glyphicon glyphicon-earphone"></i> 0498 /11 83 09          
    </div>
    <div class="col-sm-2 col-md-2">
            <img src="https://pbs.twimg.com/profile_images/417429456752365568/inR0DyNU.jpeg"
            alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Matthias Feys</p> <small> webmaster</cite></small><small> functie2</cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> matthiasfeys@gmail.com          
            <br/> <em class='glyphicon-facebook'></em> matthias.feys
            <br/> <i class="glyphicon glyphicon-earphone"></i> 0498 /11 83 09          
    </div>
    <div class="col-sm-2 col-md-2">
            <img src="https://pbs.twimg.com/profile_images/417429456752365568/inR0DyNU.jpeg"
            alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Matthias Feys</p> <small> webmaster</cite></small><small> functie2</cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> matthiasfeys@gmail.com          
            <br/> <em class='glyphicon-facebook'></em> matthias.feys
            <br/> <i class="glyphicon glyphicon-earphone"></i> 0498 /11 83 09          
    </div>

    </div>
{% endblock %}