<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "90 jaar KLJ Ichtegem" %}
{% block css %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'vendor/bootstrap-glyphicons-all/glyphicons-free.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in images %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{loop.index}}" {%  if loop.index==1 %} class="active" {% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in images %}
                        <div class="item {%  if loop.index==1 %} active {% endif %}">
                            <img src="{{image.image}}" alt="First slide">
                            <div class="carousel-caption">
                                    <h3>{{image.title}}</h3>
                                    <p>{{image.text}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control"
                        href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right">
                        </span></a>
            </div>
            <div class="main-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h1>
                        90 jaar KLJ Ichtegem</h1>
                   
                        {{ text }}
                    
    
                </div>
            </div>
        </div>
    </div>
</div>
<div id="push">
</div>


 

{% endblock %}
