{% extends "base.html" %}
{% block css %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'vendor/datepicker/css/datepicker.css') }}" rel="stylesheet">
{% endblock %}
{% from 'macros.html' import date_picker %}
{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename = 'vendor/datepicker/js/bootstrap-datepicker.js') }}"></script>
    {{ date_picker("timestamp") }}
{% endblock %}
{% block body %}
<!--centraliseren-->
<div id="wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-5"> 
      <div class="container">
        <form action='' method="POST" enctype=multipart/form-data>
          {{form.hidden_tag()}}
          <fieldset>
            <h3>Event</h3>
            <div class="form-group">
              <label for="title">title</label>
              {{form.title( class="form-control")}}
                {% for error in form.errors.title %}
                    <span style="color: red;" class="help-inline">{{name}}</span><br>
                {% endfor %}<br>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
                {{form.description( class="form-control", rows=3)}}
                {% for error in form.errors.description %}
                    <span style="color: red;" class="help-inline">{{error}}</span><br>
                {% endfor %}<br>
            </div>
            <div class="form-group">
              <label for="image">image</label>
              {{form.image( class="form-control", id="image")}}
                {% for error in form.errors.image %}
                    <span style="color: red;" class="help-inline">{{error}}</span><br>
                {% endfor %}<br>
            </div>
            <div class="form-group">
              <label for="location">location</label>
              {{form.location( class="form-control", id="location")}}
                {% for error in form.errors.location %}
                    <span style="color: red;" class="help-inline">{{error}}</span><br>
                {% endfor %}<br>
            </div>
            <div class="form-group">
              <label for="price">price</label>
              {{form.price( class="form-control", id="price")}}
                {% for error in form.errors.price %}
                    <span style="color: red;" class="help-inline">{{error}}</span><br>
                {% endfor %}<br>
            </div>
            <!--<div class="form-group">
              <label for="timestamp">timestamp</label>
              {{form.timestamp( class="form-control", id="timestamp")}}
                {% for error in form.errors.timestamp %}
                    <span style="color: red;" class="help-inline">{{error}}</span><br>
                {% endfor %}<br>
            </div>-->
            <button type="submit" class="btn btn btn-primary"> Create </button>
          </div>

       </div>
       <div class="col-md-5"> 
       </fieldset>
        </form>
       </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
{% endblock %}
