<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "Quiz: De Slimste Vereniging" %}
{% block body %}
<div class="container">
        
        

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="row">
            <div>
            </div><!--/span-->
          </div><!--/row-->
          	<iframe src="https://docs.google.com/forms/d/1NGf5fy65SnsyK6341AbU6sQUFBWqpQhC48Ms9lIlfOk/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <br>
            <a href={{url_for('activiteiten')}} ><h3>Volgende activiteiten:</h3></a> 
            <ul style="list-style: none;">
            {% for event in events %}
                <li> <a href={{url_for('activiteit',event_id=event.id)}} >{{event.title}}</a> <br><i class="glyphicon glyphicon-calendar"> {{event.begin.strftime('%d/%m/%y %H:%M')}}</i></li>
            {% endfor %}
            </ul>         
         </div>

        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div><!--/.container-->


{% endblock %}